<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h2>Введите новые данные</h2>
<div>
    <form th:method="PATCH"  th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
        <input type="hidden" th:field="*{id}" id="id"/>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="name">Surname: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <br/>
        <label for="name">Profession: </label>
        <input type="text" th:field="*{profession}" id="profession"/>
        <br/>
        <input type="submit" value="Update user!"/>
    </form>
</div>
<a href="/index">Back</a>
</body>
</html>